.mcmonitor {
    max-width: 700px;

}

.text-warning-dark {
  color: #ff8c00;
}

.online {
    color: darkgreen;
    letter-spacing: 0.1em;
}

.offline {
    color: darkred;
}

body {
    background-image: url('mcbg.jpg');
    background-color: #CFC3E1;
    background-attachment:fixed;
    background-size: cover;
}

table {
    margin-bottom: 5em;
}

tbody {
    background: white;
}

thead {
    background: white;
    font-weight: 700;
}

h1 {
color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 6px #000;

}

h5 {
color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 6px #000;
}

footer {
    background-color: rgba(245, 245, 245, 0.8);
}

.dot {
    height: 11px;
    width: 11px;
    background-color: #dc3545;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
}

.online .dot {
    background-color: darkgreen;
}
